.reportbugrc
.rpmdb/
.selected_editor
.secrets
*.swp
.bash_history
.viminfo
.lesshst
.vim/.netrwhist
.aws
.azure
.docker
.dotnet
.cargo
.rustup
.msrustup
.vscode-remote-containers
.vscode-server
.cache
.azure-devops
.ssh
temp
notes
/projects
