/.azure-devops/
/.cache/
/.cargo/
/.docker/
/.dotnet/
/.go/
/.msrustup/
/.rpmdb/
/.rustup/
/.ssh/
/.vscode-remote-containers/
/.vscode-server/
/docs/
/projects/

/*.swp
/.aws
/.azure
/.bash_history
/.config/dlv/.dbg_history
/.lesshst
/.reportbugrc
/.secrets
/.selected_editor
/.vim/.netrwhist
/.viminfo
/notes
/temp
