/.ado-credential-rs/
/.aspnet/
/.azure-devops/
/.azure-functions-core-tools/
/.cache/
/.cargo/
/.docker/
/.dotnet/
/.ev2/
/.gnupg/
/.go/
/.local/.IdentityService/
/.mono/
/.msrustup/
/.net/
/.npm/
/.nvm/
/.password-store/
/.pyenv/
/.python_history
/.rpmdb/
/.rustup/
/.ssh/
/.vscode-remote-containers/
/.vscode-server/
/.vcpkg/
/docs/
/projects/

/*.swp
/.aws
/.azure
/.bash_history
/.config/dlv/.dbg_history
/.lesshst
/.reportbugrc
/.secrets
/.selected_editor
/.vim/.netrwhist
/.viminfo
/temp
